.button {
  background-color: var(--color-blue);
  border-radius: var(--size-1);
  border: 0;
  color: var(--color-white);
  cursor: pointer;
  height: fit-content;
  padding: var(--size-2_5);
  width: fit-content;
}
